<div>
  <h5>Roles</h5>
  <ul class="list-group" *ngIf="hasRoles()">
    <li class="list-group-item list-group-item-dark">
      <div class="row">
        <div class="col-4">Name</div>
        <div class="col">Description</div>
      </div>
    </li>
    <li 
      class="list-group-item"
      style="cursor: pointer" 
      *ngFor="let role of roles"
    >
      <div class="row">
        <div class="col-4">{{ role.name }}</div>
        <div class="col">{{ role.description }}</div>
      </div>
    </li>
  </ul>
  <p *ngIf="(!hasRoles() && complete); else stillLoading">No roles have yet been saved!</p>
  <ng-template #stillLoading>
    <p><img src="/assets/giphy.gif" alt="loading..." *ngIf="!complete" /></p>
  </ng-template>

</div>
