<div class="container-fluid">
  <legend>User Detail</legend>
  <div *ngIf="!complete; else userDetail">
      <p><img src="/assets/giphy.gif" alt="loading..." /></p>
  </div>
  <ng-template #userDetail>
    <div>
      <p>
        User name is: {{ user?.email }}
      </p>
      <p>
        First name is: {{ user?.firstName }}
      </p>
      <p>
        Last name is: {{ user?.lastName }}
      </p>
      <p>
        User {{ user?.email }} is {{ user?.isEnabled ? "active" : "inactive" }}
      </p>
      <app-roles-view [roles]="user?.roles"></app-roles-view>
      <app-permission-view [permissions]="user?.permissions"></app-permission-view>
      
    </div>
  </ng-template>
  <p><a href="/user/edit/{{ user?.internalId }}">Edit</a></p>
  <p><a href="/user">Back to list</a></p>
</div>