<div class="panel panel-default">
    <div class="row" >
        <span class="col-3"><h6>Permission: {{ permission?.name }}</h6></span><span class="col-7"></span><span class="col" style="text-align:right; valign:center" ><button type="button" class="btn btn-info" (click)="removed.emit()">Remove</button></span>
    </div>
    <div class="row"><div class="col"></div></div>
    <div class="panel-body">
        <div [formGroup]="permGroup">
            <div class="form-group row">
              <label for="name" class="col-sm-2 col-form-label">Permission Name</label>
              <div class="col-sm-10">
                <input formControlName="name" class="form-control" readonly><input type="hidden" formControlName="internalId">
              </div> 
            </div>
            <div class="form-group row">
              <label for="name" class="col-sm-2 col-form-label">Claim Type</label>
              <div class="col-sm-10">
                <input formControlName="claimType" class="form-control" readonly>
              </div>
            </div>
            <div class="form-group row">
              <label for="name" class="col-sm-2 col-form-label">Permission Description</label>
              <div class="col-sm-10">
                <input formControlName="description" class="form-control" readonly>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <app-parameter-array 
                  [parentForm]="permGroup" 
                  [params]=permission?.parameters 
                  [paramTypes]="paramTypes"
                  [sites]="sites"
                  [parentIsUser]="true"
                >
                </app-parameter-array>
            </div>
          </div>
        </div>
    </div>
</div>
