<div class="container-fluid">
  <form class="form-horizontal" [formGroup]="form">
    <fieldset>
        <legend>Reset Password</legend>
        <div class="form-group">
            <label for="oldPassword">Old Password:</label>
            <input name="oldPassword"
                    type="password" 
                    formControlName="oldPassword" 
                    class="form-control">
        </div>
        <div class="form-group">
            <label for="newPassword">Password:</label>
            <input name="newPassword"
                    formControlName="newPassword" 
                    type="password"
                    class="form-control">
        </div>
        <div class="form-group">
          <label for="confirmNewPassword">Confirm Password:</label>
          <input name="confirmNewPassword"
                  formControlName="confirmNewPassword" 
                  type="password"
                  class="form-control">
      </div>
    </fieldset>
    <button class="btn btn-success" (click)="reset()">Reset Password</button>
  </form>
</div>
