<div>
    <div class="row">
        <span class="col-2"  style="vertical-align:baseline"><h6>Role: {{ role?.name }}</h6></span><span class="col-8"></span><span class="col" style="text-align:right;vertical-align:middle"><button type="button" class="btn btn-info" (click)="removed.emit()">Remove</button></span>
    </div>
    <div class="row"><div class="col"></div></div>
    <div>
        <div [formGroup]="roleGroup">
            <div class="form-group row">
              <label for="name" class="col-2 col-form-label">Role Name</label>
              <div class="col-10">
                <input formControlName="name" class="form-control" readonly>
                <input type="hidden" formControlName="internalId">
                <input type="hidden" formControlName="permissions">
              </div>
            </div> 
            <div class="form-group row">
                <label for="description" class="col-2 col-form-label">Role Description</label>
                <div class="col-10">
                  <input formControlName="description" class="form-control" readonly>
                </div>
            </div>
            <div class="row">
              <div class="col">
              <app-parameter-array 
                [parentForm]="roleGroup" 
                [params]=role?.parameters 
                [paramTypes]="paramTypes"
                [sites]="sites"
                [parentIsUser]="true"
              >
              </app-parameter-array>
            </div>
          </div>
        </div>
    </div>
</div>

      
