<!-- <nav class="navbar navbar-default">
<nav class="navbar navbar-default">
  <div class="container-fluid">
      <div class="navbar-header">
          <a href="#" class="navbar-brand">Manufacturing Intelligence User Manager</a>
      </div>
      <!--<div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
              <li routerLinkActive="active" style="cursor: pointer;"><a routerLink="/location" >Location</a></li>
              <li routerLinkActive="active" style="cursor: pointer;"><a routerLink="/weather">Weather</a></li>
          </ul>
      </div>-->
<!--  </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-dark " style=" background-color: #33aa33; color: white; ">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img width="100" src="/assets/MI_Logo_small.png"><h2>Integrated Access Management</h2>
            </a>
        </div>
        <div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse vbottom" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/role">Roles</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="/permission">Permissions</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">About MI IAM</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" (click)="onLogout()" style="font-weight: bold">[ Logout ]</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<br>

