<li
    class="list-group-item"
    style="cursor: pointer"      
  >
  <div [formGroup]="parameterGroup" class="row">
    <div class="col-4">
      <input formControlName="name" class="form-control" >
      <input type="hidden" formControlName="internalId"></div>
    <div class="col">
      <input formControlName="description" class="form-control"></div>
    <!-- <div class="col" *ngIf="parentIsUser && sites.length > 0 && parentForm.controls.parameters.controls[i].controls?.typeInternalId?.value && parentForm.controls.parameters.controls[i].controls?.typeInternalId?.value === siteParameterTypeId; else freeTextValue">
      <select formControlName="value" class="form-control" multiple>
        <option *ngFor="let site of sites" [value]="site.InternalId">{{ site.Name }}</option>
      </select>
    </div>
    <ng-template  #freeTextValue> -->
      <div class="col"><input formControlName="value" class="form-control" #freeTextValue></div>
    <!-- </ng-template> -->
    
    <div class="col">
      <select formControlName="typeInternalId" class="form-control">
        <option *ngFor="let type of paramTypes" [value]="type.InternalId">{{ type.Name }}</option>
      </select>
    </div>
    
  </div>
</li>
