<div class="container-fluid">
  <legend>Role Template Detail</legend>
  <div *ngIf="!complete; else roleTemplateDetail">
    <p><img src="/assets/giphy.gif" alt="loading..."/></p>
  </div>
  <ng-template #roleTemplateDetail>
    <div>
      <p>
        Role template name: {{ roleTemplate?.name }}
      </p>
      <p>
        Role template description: {{ roleTemplate?.description }}
      </p>
    </div>
    
      <app-parameter-view [parameters]="roleTemplate?.parameters"></app-parameter-view>
      <app-permission-view [permissions]="roleTemplate?.permissions"></app-permission-view>
  </ng-template>
  <p><a href="/role/edit/{{ roleTemplate?.internalId }}">Edit</a></p>
  <p><a href="/role">Back to list</a></p>
</div>