<div [formGroup]="parentForm" style="padding:10px">
    <h5>Parameters</h5>
    <div class="row" *ngIf="params.length <= 0; else parametersForm">
        <div class="col">No parameters yet attached.</div>
    </div>
    <ng-template  #parametersForm>
    <!--<div class="list-group"> *ngIf="hasParameters()" -->
        <!-- <li class="list-group-item list-group-item-light"> -->
          <div class="row" style="background-color:lightgrey; padding:12px">
            <div class="col-4">Name</div>
            <div class="col">Description</div>
            <div class="col">Value</div>
            <div class="col" *ngIf="!parentIsUser">Type</div>
          </div>
        <!-- </li> -->
        
    <div style="padding:10px">
        <app-parameter
          formArrayName="parameters" 
          *ngFor="let param of params; let i = index" 
          [formArray]="parentForm.controls.parameters" 
          [parameter]="param"
          [paramTypes]="paramTypes"
          [sites]="sites"
          [parentIsUser]="parentIsUser"
          (removed)="removeParameter(i)">
        </app-parameter>

     </div>
    </ng-template> 
    <hr>
    <div class="row" *ngIf="!parentIsUser">
        <div class="col-10"></div>
        <div class="col-2" style="text-align:right">
            <button type="button" class="btn btn-primary" (click)="addParam()">
                    Add parameter
            </button>
        </div>
    </div>
</div>