<!-- <li
    class="list-group-item"
    style="cursor: pointer"      
  >  -->
  <div [formGroup]="parameterGroup" class="form-group row">
    <div class="col-4">
      <input formControlName="name" class="form-control" [readonly]="parentIsUser">
      <input type="hidden" formControlName="internalId">
    </div>
    <div class="col">
      <input formControlName="description" class="form-control" [readonly]="parentIsUser">
    </div>
    <ng-container [ngSwitch]="true">
        <div class="col" *ngSwitchCase="parameter.typeName === 'BoolParam'">
            <select formControlName="value" class="form-control-select">
                <option value="true">True</option>
                <option value="false">False</option>
            </select>          
        </div>
        <div class="col" *ngSwitchCase="parameter.typeName === 'SiteParam'">
            <select formControlName="value" class="form-control-select" multiple (change)="setSelected($event.target)">
              <option ngValue="*">-- All Sites --</option>
              <option *ngFor="let site of sites" [ngValue]="site.InternalId">{{ site.Name }}</option>
            </select>
        </div>
        <div class="col" *ngSwitchDefault><input formControlName="value" class="form-control"></div>
    </ng-container>
    <!-- <ng-template #siteValue>
      <div class="col" *ngIf="sites && sites.length > 0 && parameter.typeInternalId === siteParameterTypeId; else freeTextValue">
        <select formControlName="value" class="form-control-select" multiple (change)="setSelected($event.target)">
          <option ngValue="*">-- All Sites --</option>
          <option *ngFor="let site of sites" [ngValue]="site.InternalId">{{ site.Name }}</option>
        </select>
      </div>
    </ng-template>
    <ng-template #freeTextValue>
      <div class="col"><input formControlName="value" class="form-control" #freeTextValue></div>
    </ng-template>
    <ng-template #booleanValue>
      <select formControlName="value" class="form-control-select">
        <option value="true">True</option>
        <option value="false">False</option>
      </select>
    </ng-template> -->
    
    <div class="col">
      <input type="hidden" formControlName="typeInternalId" *ngIf="parentIsUser">
      <select formControlName="typeInternalId" class="form-control" *ngIf="!parentIsUser">
        <option *ngFor="let type of paramTypes" [value]="type.InternalId">{{ type.Name }}</option>
      </select>
    </div>
    
  </div>
<!-- </li>  -->
