<div class="container-fluid">
  <h3>Role Manager</h3>
  <ul class="list-group" *ngIf="hasRoleTemplates()">
    <li class="list-group-item list-group-item-dark">
      <div class="row">
        <div class="col-2">Role Name</div>
        <div class="col-4">Description</div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
      </div>
    </li>
    <li
      class="list-group-item"
      style="cursor:pointer"
      *ngFor="let roleTemplate of roleTemplates"
      routerLinkActive="active"
    >
    <div class="row">
      <div class="col-2">{{ roleTemplate.name }}</div>
      <div class="col-4">{{ roleTemplate.description }}</div>
      <div class="col"><a href="role/detail/{{roleTemplate.internalId}}">Details</a></div>
      <div class="col"><a href="role/edit/{{roleTemplate.internalId}}">Edit</a></div>
      <div class="col"><a href="#" (click)="onRoleTemplateDelete(roleTemplate.internalId)">Delete</a></div>
    </div>
    </li>
  </ul>
  <p *ngIf="(!hasRoleTemplates() && complete); else stillLoading">No role templates have yet been saved!</p>
  <ng-template #stillLoading>
    <p><img src="/assets/giphy.gif" alt="loading..." *ngIf="!complete" /></p>
  </ng-template>
  <a href="role/create">Create new role template</a>
</div>
