<div class="container-fluid">
  <form class="form-horizontal" [formGroup]="form">
    <fieldset>
        <legend>Login</legend>
        <div class="form-group">
            <label for="email">Email:</label>
            <input name="email" 
                    formControlName="email" 
                    class="form-control">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input name="password"
                  formControlName="password" 
                  type="password"
                  class="form-control">
        </div>
    </fieldset>
    <button class="btn btn-success" (click)="login()">Login</button>
  </form>
</div>
