<div class="container-fluid">
  <h3>Permission Manager</h3>
  <ul class="list-group" *ngIf="hasPermissionTemplates()">
    <li class="list-group-item list-group-item-dark">
      <div class="row">
        <div class="col-2">Permission Name</div>
        <div class="col-2">Claim type</div>
        <div class="col-4">Description</div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
      </div>
    </li>
    <li
      class="list-group-item"
      style="cursor:pointer"
      *ngFor="let permissionTemplate of permissionTemplates"
    >
    <div class="row">
      <div class="col-2">{{ permissionTemplate.name }}</div>
      <div class="col-2">{{ permissionTemplate.claimType }}</div>
      <div class="col-4">{{ permissionTemplate.description }}</div>
      <div class="col"><a href="permission/detail/{{permissionTemplate.internalId}}">Detail</a></div>
      <div class="col"><a href="permission/edit/{{permissionTemplate.internalId}}">Edit</a></div>
      <div class="col"><a href="#" (click)="onPermissionTemplateDelete(permissionTemplate.internalId)">Delete</a></div>
    </div>
    </li>
  </ul>
  <p *ngIf="(!hasPermissionTemplates() && complete); else stillLoading">No permission templates have yet been saved!</p>
  <ng-template #stillLoading>
    <p><img src="/assets/giphy.gif" alt="loading..." *ngIf="!complete" /></p>
  </ng-template>
  <a href="permission/create">Create new permission template</a>
</div>