<div>
  <h5>Permissions</h5>
  <ul class="list-group" *ngIf="hasPermissions()">
    <li class="list-group-item list-group-item-dark">
      <div class="row">
        <div class="col-4">Name</div>
        <div class="col">Claim Type</div>
        <div class="col">Description</div>
        <div class="col">Parameters</div>
      </div>
    </li>
    <li 
      class="list-group-item"
      style="cursor: pointer" 
      *ngFor="let perm of permissions"
    >
      <div class="row">
        <div class="col-4">{{ perm.name }}</div>
        <div class="col">{{ perm.claimType }}</div>
        <div class="col">{{ perm.description }}</div>
        <div class="col">{{ perm?.parameters[0]?.name }}</div>
      </div>
    </li>
  </ul>
  <p *ngIf="(!hasPermissions() && complete); else stillLoading">No permissions have yet been saved!</p>
  <ng-template #stillLoading>
    <p><img src="/assets/giphy.gif" alt="loading..." *ngIf="!complete" /></p>
  </ng-template>

</div>
