<div [formGroup]="parentForm">
  <legend>Permissions</legend>
    <div formArrayName="permissions">
        <app-permission-item *ngFor="let permission of permissions; let i = index" 
          [formArray]="parentForm.controls.permissions" 
          [permission]="permission"
          [paramTypes]="paramTypes"
          [parentIsUser]="true"
          [sites]="sites"
          (removed)="removePermission(i)">
        </app-permission-item>
      </div>
      <div class="row">
          <div class="col-6"></div>
          <div class="col-4"  style="text-align:right">
              <select formControlName="existingPermissions" class="form-control-select" #existingPermissions>
                  <option *ngFor="let p of existingPermissionsDisplay" [value]="p.internalId" >{{ p.name }}</option> 
                </select>
          </div>
          <div class="col-2" style="text-align:right">
            <button type="button"(click)="onAddExistingPermission(existingPermissions.value)" class="btn btn-primary" [disabled]="!hasUnassignedPermissions">Assign Permission</button>
          </div>
        </div>
</div>