<div [formGroup]="parentForm">

      <legend>Roles</legend>

  <div formArrayName="roles">
    <!-- <input type="hidden" formControlName="internalId"> -->
    <app-role-item *ngFor="let role of roles; let i = index" 
      [formArray]="parentForm.controls.roles" 
      [role]="role"
      [paramTypes]="paramTypes"
      [sites]="sites"
      (removed)="removeRole(i)">
    </app-role-item>
  </div>
  <div class="row">
    <div class="col-6"></div>
    <div class="col-4"  style="text-align:right">
      <select formControlName="roleTemplates" class="form-control-select" #roleTemplates>
        <option *ngFor="let r of existingRolesArray" [value]="r.internalId" >{{ r.name }}</option> 
      </select>
    </div>
    <div class="col-2" style="text-align:right">
      <button type="button" (click)="onAddExistingRole(roleTemplates.value)" class="btn btn-primary" [disabled]="!hasUnassignedRoles">Assign Role</button>
    </div>
  </div>
</div>