<div *ngIf="complete && existingRolesArray && existingPermissionsArray" class="container-fluid">
    <div class="row">
        <div class="col header">
            <legend>{{ this.pageTitle }} User</legend>
        <div>
    </div>
    
    <div *ngIf="!isCreate && (!complete || !user); else userDetail">
        <p><img src="/assets/giphy.gif" alt="loading..." /></p>
    </div>
    <ng-template #userDetail>
            <form class="form" [formGroup]="form" (ngSubmit)="onEditUser()">
      <div style="border: solid 1px black; border-radius: 10px; padding: 10px">
      
        <div class="form-group row">
          <label for="email" class="col-2 col-form-label">Username (email)</label>
            <div class="col-10">
                <input type="email" 
                    class="form-control" 
                    formControlName="email">
            </div>
        </div>
        <div [hidden]="email?.valid || !email.dirty" class="alert alert-danger">
          Username is required and must be the user's email address!
        </div>
        <div class="form-group row">
            <label for="firstName" class="col-2 col-form-label"> First Name</label>
            <div class="col-10">
                <input type="text" 
                  class="form-control" 
                  formControlName="firstName">
            </div>
        </div>
        <div [hidden]="firstName?.valid  || !firstName.dirty" class="alert alert-danger">
            First name is required!
        </div>
        <div class="form-group row">
            <label for="lastName" class="col-2 col-form-label">Last Name</label>
            <div class="col-10">
                <input type="text" 
                   class="form-control" 
                   formControlName="lastName">
            </div>
        </div>
        <div [hidden]="lastName?.valid || !lastName.dirty" class="alert alert-danger">
            Last name is required!
        </div>
        <div class="form-group row">
          <label for="isEnabled" class="col-2 col-form-label">Enabled</label>
          <div class="col-10">
            <div class="form-check">
                <input type="checkbox" 
                        class="form-check-input" 
                        formControlName="isEnabled"
                        >
                </div>
            </div>  
        </div>
    </div>
        <hr>
        <div style="border: solid 1px black; border-radius: 10px; padding: 10px">
            <app-role-array 
                [parentForm]="form" 
                [roles]="user?.roles"  
                [paramTypes]="paramTypes"
                [sites]="sites"
                [existingRolesArray]="existingRolesArray"
            >
        </app-role-array>
        </div>
        <hr>
        <div style="border: solid 1px black; border-radius: 10px; padding: 10px">
        <app-permission-array 
            [parentForm]="form" 
            [permissions]="user?.permissions"  
            [paramTypes]="paramTypes"
            [existingPermissionsDisplay]="existingPermissionsArray"
            [sites]="sites"
            [parentIsUser]="true"
        >
        </app-permission-array></div>
            
        <hr>

        <button type="submit" class="btn btn-success" [disabled]="!form.valid">Submit</button>
        <button type="reset" class="btn btn-warning" (click)="onReset()">Reset</button>
        <button type="cancel" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        
        <div *ngIf="persisted">
                <p>{{ persisted }}</p>
        </div>
        
      </form>
    </ng-template>
    <p><a href="/user">Back</a></p>
    <!--<p><a href="#" (click)="onCancel()">Back</a></p>-->
</div>
