<div class="container-fluid">
  <h2>Welcome to the Manufacturing Intelligence User Management Application</h2>
  <p>Hi {{ firstName }}</p>
  <p>From here you may manage <a href="/user">Users</a> and <a href="/role">Roles</a>. <!-- and <a href="/permission">Permissions</a>. -->
  
  </p>
  <!-- <router-outlet></router-outlet> -->
</div>