<div class="container-fluid">
    <legend>Permission Template Detail</legend>
    <div *ngIf="!complete; else permissionTemplateDetail">
      <p><img src="/assets/giphy.gif" alt="loading..."/></p>
    </div>
    <ng-template #permissionTemplateDetail>
      <div>
        <p>
          Name: {{ permissionTemplate?.name }}
        </p>
        <p>
          Claim type: {{ permissionTemplate?.claimType }}
        </p>
        <p>
          Description: {{ permissionTemplate?.description }}
        </p>
      </div>

      <app-parameter-view [parameters]="permissionTemplate?.parameters"></app-parameter-view>

    </ng-template>
    <p><a href="/permission/edit/{{ permissionTemplate?.InternalId }}">Edit</a></p>
    <p><a href="/permission">Back to list</a></p>
  </div>