<div>
  <app-header></app-header>
  
  <div class="container">
      <div class="row">
          <div class="col">
              <!-- <app-manager></app-manager> -->
              <router-outlet></router-outlet>
              
              <br><br><br>
          </div>
      </div>
  </div>
  <app-footer></app-footer>
  </div>
