
<div class="container" *ngIf="existingPermissionsArray">
        <legend>{{ this.pageTitle }} Role Template</legend>
        <div *ngIf="!complete; else roleTemplateDetail">
            <p><img src="/assets/giphy.gif" alt="loading..." /></p>
        </div>
        <ng-template #roleTemplateDetail>
          <form class="form-horizontal" [formGroup]="form" (ngSubmit)="onEditRoleTemplate()">
                <div style="border: solid 1px black; border-radius: 10px; padding: 10px">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="name" 
                    class="form-control" 
                    formControlName="name">
                    
            </div>
            <input type="hidden" formControlName="internalId">
            <div [hidden]="name?.valid || !name.dirty" class="alert alert-danger">
              You must provide a name for this role template!
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text"
                       class="form-control" 
                       formControlName="description">
            </div>
            <div [hidden]="description?.valid || !description.dirty" class="alert alert-danger">
                You must provide a brief description of this role!
            </div>
            </div>
            <hr>
            <div style="border: solid 1px black; border-radius: 10px; padding: 10px">
            <app-permission-array 
                [parentForm]="form" 
                [permissions]="roleTemplate?.permissions"  
                [existingPermissionsDisplay]="existingPermissionsArray"
                [paramTypes]="paramTypes"
            >
            </app-permission-array>
        </div>
        <!-- <hr>
        <div style="border: solid 1px black; border-radius: 10px; padding: 10px">
            <app-parameter-array 
            [parentForm]="form" 
            [params]=role?.parameters 
            [paramTypes]="paramTypes"
            [sites]="sites"
            [parentIsUser]="false"
            >
            </app-parameter-array>
        </div> -->
        <hr>


            <button type="submit" class="btn btn-success" [disabled]="!form.valid">Submit</button>
            <button type="reset" class="btn btn-warning" (click)="onReset()">Reset</button>
            <button type="cancel" class="btn btn-danger" (click)="onCancel()">Cancel</button>

            <div *ngIf="persisted">
                    <p>{{ persisted }}</p>
            </div>
           
          </form>
        </ng-template>
        <p><a href="/role">Back</a></p>
        <!--<p><a href="#" (click)="onCancel()">Back</a></p>-->
    </div>
    