<div [formGroup]="parentForm">
    <p>Parameters</p>
    <ul class="list-group"><!-- *ngIf="hasParameters()" -->
        <li class="list-group-item list-group-item-light">
          <div class="row">
            <div class="col-4">Name</div>
            <div class="col">Description</div>
            <div class="col">Value</div>
            <div class="col">Type</div>
            <div class="col"></div>
          </div>
        </li>
        
    <!-- <div> -->
        <app-parameter
          formArrayName="parameters" 
          *ngFor="let param of params; let i = index" 
          [formArray]="parentForm.controls.parameters" 
          [parameter]="param"
          (removed)="removeParameter(i)">
        </app-parameter>
      </ul>
    <!-- </div> -->
    <!-- <div class="margin-20">
        <button class="btn btn-primary" (click)="addParameter()">
            Add another parameter +
        </button>
    </div> -->
</div>