    <div>
    <legend>{{ this.pageTitle }} Permission Template</legend>
    <div *ngIf="!complete && !permissionTemplate; else permissionTemplateDetail">
        <p><img src="/assets/giphy.gif" alt="loading..." /></p>
    </div>
    <ng-template #permissionTemplateDetail>
        <form class="form-horizontal" [formGroup]="form" (ngSubmit)="onEditPermissionTemplate()">
                <div style="border: solid 1px black; border-radius: 10px; padding: 10px">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="name" 
                class="form-control" 
                formControlName="name">
        </div>
        <div [hidden]="name?.valid || !name.dirty" class="alert alert-danger">
            You must provide a name for this permission template!
        </div>
        <div class="form-group">
            <label for="claimType">Claim type</label>
            <input type="text"
                    class="form-control" 
                    formControlName="claimType">
        </div>
        <div [hidden]="claimType?.valid  || !claimType.dirty" class="alert alert-danger">
            You must specify the claim type for this permission!
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text"
                    class="form-control" 
                    formControlName="description">
        </div>
        <div [hidden]="description?.valid || !description.dirty" class="alert alert-danger">
            You must provide a brief description of this permission!
        </div>
    </div>
    <hr>
    <div style="border: solid 1px black; border-radius: 10px; padding: 10px">
        <app-parameter-array 
            [parentForm]="form" 
            [params]=permissionTemplate?.parameters 
            [paramTypes]="paramTypes"
            [parentIsUser]="false"
        ></app-parameter-array> 
    </div>
    <hr>
        <button type="submit" class="btn btn-success" [disabled]="!form.valid">Submit</button>
        <button type="reset" class="btn btn-warning" (click)="onReset()">Reset</button>
        <button type="cancel" class="btn btn-danger" (click)="onCancel()">Cancel</button>

        <div *ngIf="persisted">
                <p>{{ persisted }}</p>
        </div>
    
        </form>
    </ng-template>
    <p><a href="/permission">Back</a></p>
    <!--<p><a href="#" (click)="onCancel()">Back</a></p>-->
</div>
