<div>
  <h5>Parameters</h5>
  <ul class="list-group" *ngIf="hasParameters()">
    <li class="list-group-item list-group-item-dark">
      <div class="row">
        <div class="col-4">Name</div>
        <div class="col">Description</div>
        <div class="col">Value</div>
        <div class="col">Type</div>
      </div>
    </li>
    <div *ngIf="processParameterSource()">
    <li 
      class="list-group-item"
      style="cursor: pointer"
      *ngFor="let param of parameters"
    >
      <div class="row">
        <div class="col-4">{{ param.name }}</div>
        <div class="col">{{ param.description }}</div>
        <div class="col">{{ param.value }}</div>
        <div class="col">{{ param.typeDescription }}</div>
      </div>
    </li>
  </div>
  </ul>
  <p *ngIf="(!hasParameters() && complete); else stillLoading">No parameters have yet been saved!</p>
  <ng-template #stillLoading>
    <p><img src="/assets/giphy.gif" alt="loading..." *ngIf="!complete" /></p>
  </ng-template>

</div>
