<div class="container-fluid">
  <legend>User Manager</legend>
  <ul class="list-group" *ngIf="hasUsers()">
    <li class="list-group-item list-group-item-dark">
      <div class="row">
        <div class="col-4">Username</div>
        <div class="col">First Name</div>
        <div class="col">Last Name</div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col-1">Active</div>
      </div>
    </li>
    <li 
      class="list-group-item" 
      style="cursor: pointer" 
      *ngFor="let user of users" 
      routerLinkActive="active"
    >
      <div class="row">
        <div class="col-4">{{ user.email }}</div>
        <div class="col">{{ user.firstName }}</div>
        <div class="col">{{ user.lastName }}</div>
        <div class="col"><a href="user/detail/{{user.internalId}}">Detail</a></div>
        <div class="col"><a href="user/edit/{{user.internalId}}">Edit</a></div>
        <div class="col"><a href="#" (click)="onUserDelete(user.internalId)">Delete</a></div>
        <div class="col-1">
          <input type="checkbox" [checked]="( user.isEnabled === true )" (change)="user.isEnabled = $event.target.checked;" />
        </div>
      </div>
    </li>
  </ul>
  <p *ngIf="(!hasUsers() && complete); else stillLoading">No users have yet been saved!</p>
  <ng-template #stillLoading>
    <p><img src="/assets/giphy.gif" alt="loading..." *ngIf="!complete" /></p>
  </ng-template>
  <a href="user/create">Create new user</a>
</div>