/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.form-group {
    /* text-align:right; */
    align:left;
    /*background-color:#ffa;*/
 }

 .ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }

  .navbar-custom {
    background-color: #339933;
    color: #ffffff;
    border-radius: 0;
}

.navbar-custom .navbar-nav > li > a {
    color: #fff;
}

.navbar-custom .navbar-header > a > h2 {
        color: #ffffff;
        text-decoration: none;
    }

.navbar-custom .navbar-nav > .active > a {
    color: #ffffff;
    background-color: transparent;
}

    .navbar-custom .navbar-nav > li > a:hover,
    .navbar-custom .navbar-nav > li > a:focus,
    .navbar-custom .navbar-nav > .active > a:hover,
    .navbar-custom .navbar-nav > .active > a:focus,
    .navbar-custom .navbar-nav > .open > a {
        text-decoration: none;
        background-color: #33aa33;
    }

.navbar-custom .navbar-brand {
    color: #eeeeee;
}

.navbar-custom .nav-link {
    bottom: 10;
    color: #eeeeee;
}
.navbar-custom .navbar-toggle {
    background-color: #eeeeee;
}

.navbar-custom .icon-bar {
    background-color: #33aa33;
}

textarea {
    width: 300px;
    height: 150px;
}

.vbottom {
    position: relative;
    top: 100%;
    transform: translateY(-100%); 
}

a.nav-item .bold {
    font-weight: bold;
}

/* ul.list-group.list-group-striped li:nth-of-type(odd){
    background: lightgrey;
}
ul.list-group.list-group-striped li:nth-of-type(even){
    background: white;
}
ul.list-group.list-group-hover li:hover{
    background: #33aa33;
} */

